<h1>New Illumination</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.illumination_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.illumination_path(@conn, :index) %></span>
