<h1>Edit Scenario</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.scenario_path(@conn, :update, @scenario)) %>

<span><%= link "Back", to: Routes.scenario_path(@conn, :index) %></span>
